/* CSS Variables */
:root {
  --primary-color: #ddd;
  --dark-color: #333;
  --light-color: #fff;
  --shadow-color: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark-color);
}

body {
  background: #ccc;
  margin: 30px 50px;
  line-height: 1.4;
}

.btn {
  background: var(--dark-color);
  color: var(--light-color);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}

img {
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-gap: 2rem;
}

/* Navbar */

.main-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
    background: var(--primary-color);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark-color);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow-color);
}

.main-nav a:hover {
    background: var(--dark-color);
    color: var(--light-color);
}