/* CSS Variables */
:root {
  --primary-color: #f0a500;
  --dark-color: #1a1c20;
  --light-color: #fff;
  --shadow-color: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark-color);
}

body {
  background: #f4f4f4;
  margin: 30px 50px;
  line-height: 1.4;
}

.btn {
  background: var(--dark-color);
  color: var(--light-color);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}

img {
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-gap: 2rem;
}

/* Navbar */
.main-nav ul {
  display: grid;
  grid-gap: 1.25rem;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
  background: var(--primary-color);
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: var(--dark-color);
  text-transform: uppercase;
  font-size: 1.1rem;
  box-shadow: var(--shadow-color);
}

.main-nav a:hover {
  background: var(--dark-color);
  color: var(--light-color);
}

/* Top Container */
.top-container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "showcase showcase top-box-a"
    "showcase showcase top-box-b";
}

/* Showcase */
.showcase {
  grid-area: showcase;
  min-height: 400px;
  background-image: url("../img/showcase.jpg");
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-shadow: var(--shadow-color);
}

.showcase h1 {
  font-size: 4rem;
  margin-bottom: 0;
  color: var(--light-color);
}

.showcase p {
  font-size: 1.3rem;
  margin-top: 0;
  color: var(--light-color);
}

/* Top Box  */
.top-box {
  background: var(--primary-color);
  display: grid;
  align-items: center;
  justify-items: center;
  box-shadow: var(--shadow-color);
  padding: 1.5rem;
}

.top-box .price {
  font-size: 2.5rem;
}

.top-box-a {
  grid-area: top-box-a;
}

.top-box-b {
  grid-area: top-box-b;
}

/* Boxes */
.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box {
  background: var(--primary-color);
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow-color);
}
